# for everthing not _simple
aiohttp
aiofiles

# for img2img
Pillow
sd-parsers

# for img2vid
ffmpeg-python

# for txt2img_simple, vid2vid_simple & webcam
requests

# for vid2vid_simple
imageio[pyav]
numpy

# for webcam
pygame